{% extends "PumpManager/base.html" %}

{% block title %}Песня!{% endblock %}
{% block header %}Песня!{%endblock%}



{% block content %}
<div class="row">
<div class="col-md-6">
    <div class="row"> <h2>{{song.name}}</h2></div>

    <div class="row"><h5>BPM = {{song.bpm}}<h5></div>
    <div class="row"><h5>autor = {{song.author}}</h5></div>
    <div class="row"><h5>type = {{song.type}}</h5></div>
    <div class="row"><h5>genre = {{song.cathegory}}</h5></div>

    <p></p>
    <div class="row"><h5>Появляется в версиях:</h5></div>
    {% for mix in song.mix.all%}
    <div class="row">
        <div class="col-md-6">{{mix.name}}</div>
    </div>
    {%endfor%}
    </div>


    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6" style="font-weight: bold">Уровни</div>
            <div class="col-md-6" style="font-weight: bold">Лучший счёт</div>
        </div>

        {% for item_from_list_one, item_from_list_two in context.pairs %}
            <div class="row">
                    <div class="col-md-6">{{item_from_list_one.type}}-{{item_from_list_one.lvl}}</div>
                    <div class="col-md-6 ">{{item_from_list_two.grade}} - {{item_from_list_two.score}}</div>
            </div>
        {% endfor %}
    </div>
</div>

{%endblock%}
