{% extends "PumpManager/base.html" %}

{% block title %}PM ~ База знаний{% endblock %}
{% block header %}База знаний{%endblock%}

{% block content %}
  <div class="card-deck mb-2 text-center">
    <div class="card-body mb-4 shadow-sm">
      <button class="btn btn-lg btn-outline-primary" type="button">Button 1</button>
    </div>
    <div class="card-body mb-4 shadow-sm">
      <button class="btn btn-block btn-outline-primary" type="button">Button 2</button>
    </div>
  </div>

  <div class="card-deck mb-2 text-center">
    <div class="card-body mb-4 shadow-sm">
      <button class="btn btn-lg btn-outline-primary" type="button">Button 1</button>
    </div>
    <div class="card-body mb-4 shadow-sm">
      <button class="btn btn-block btn-outline-primary" type="button">Button 2</button>
    </div>
  </div>
{%endblock%}
