{% extends "PumpManager/base.html" %}

{% block title %}Версии{% endblock %}
{% block header %}Много разных версий{%endblock%}



{% block content %}

<form action="#" method="post">
{% csrf_token %}
<input type="submit" class="btn btn-block btn-outline-primary" value="Обновление списка" name="Обновление списка">
</form>

{% for mix in mixes %}
<div class="row">
    <div class="col-md-4">
        <a class="p-2 text-dark" href="/mixes/{{mix.pk}}">Pump it up {{ mix.name }} </a>
     </div>
    <div class="col-md-8">{% for version in mix.version_set.all %}{{version.version}}; {% endfor %}</div>
</div>
{% endfor %}

{%endblock%}

/<nickname>
