{% extends "PumpManager/base.html" %}

{% block title %}{{user.player.nickname}} профиль{% endblock %}
{% block header %}Личный профиль{%endblock%}



{% block content %}

<div class="row">Hello, {{user.player.nickname}}!</div>

<div class="row">How is it going?</div>


<div class="row" style="margin-top:25px">
    <div class="col-md-4 ">
        Сыграно песен: {{context.songs_played}}
    </div>

    <div class="col-md-4">
        <form action="#" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-block btn-outline-primary" value="Обновление списка" name="Update song list">
        </form>
    </div>
</div>
{%for stage in user.player.stage_set.all%}
<div class="row">
    <div class="col-md-8 text-right"> {{stage}} </div>
</div>
{%endfor%}
{%endblock%}

/<nickname>
